.filters-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.filters-header a {
  font-size: 1.4rem;
}

.filters-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.category-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: start;
  padding: 0;
  z-index: 10;
}
