:root {

    --primary: '#E74800';
    --secondary: '#162B5A';
    --accent: '#F7BC13';
    --lightAccent: '#EEEED0';

    --background: '#F2F2F2';

    --white: '#FFFFFF';
    --gray: '#ADB5BD';
    --black: '#000000'

}