:root {
  --primary: #e74800;
  --secondary: #162b5a;
  --accent: #f7bc13;
  --lightAccent: #eeeed0;

  --background: #f2f2f2;

  --white: #ffffff;
  --gray: #adb5bd;
  --black: #000000;

  --error: #d90429;
  --valid: #80b918;
}
