.book-detail-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  padding-top: 4rem;
  text-align: left;
}

.book-detail-section .back {
  font-size: 2rem;
  color: var(--primary);
}

.book-img {
  width: 50%;
}

.book-rating {
  font-size: 2rem;
}

.btn-section {
  display: flex;
  gap: 2rem;
}

.book-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary);
}

.label-btn {
  width: 20%;
}

.option-btn {
  position: relative;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 0.1rem solid var(--gray);
  text-align: center;
}

.check-btn {
  position: absolute;
  right: 90%;
  bottom: 80%;

  background-color: var(--white);
  color: var(--accent);

  stroke-width: 0.7;
  font-size: 1.5rem;

  display: none;
}

.radio-btn {
  display: none;
}

.radio-btn:checked + .option-btn {
  border: 0.2rem solid var(--accent);
}

.radio-btn:checked + .option-btn .check-btn {
  display: inline;
}

.genre-list {
  display: flex;
  gap: 1rem;
}

.genre-item {
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  font-style: italic;
  background-color: var(--lightAccent);
}

.book-synopsis {
  text-align: left;
  font-size: 1.4rem;
}

.author-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: var(--lightAccent);
  padding: 1rem 2rem;
}

.author-img {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.similar-products {
  position: relative;
  padding: 1rem 2rem;
  padding-bottom: 16rem;
}

.similar-products img {
  width: 20%;
}

.similar-products a {
  text-align: center;
}

.swiper-slide {
  padding: 3rem 0;
  text-align: center;
  font-size: 5rem;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide p:first-of-type {
  font-weight: bold;
}

.swiper-slide p:last-of-type {
  color: var(--gray);
}

.swiper-button-prev::after {
  color: var(--secondary);
}

.swiper-button-next::after {
  color: var(--secondary);
}

.similar-products .swiper-pagination-bullet-active {
  background: var(--secondary);
}

.recommended-item-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
