.cart-card {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid #adb5bd;
  border-radius: 10px;
  padding: 1rem;
}

.cart-card img {
  width: 20%;
}

.product-name {
  font-weight: bold;
}

.product-cover {
  color: #adb5bd;
}

.product-price {
  color: #e74800;
}

.product-info {
  text-align: left;
}

.product-option {
  display: flex;
  gap: 0.5rem;
}

.product-actions {
}
