.cart-card {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid #adb5bd;
  border-radius: 10px;
  padding: 1rem;
}

.cart-card img {
  width: 20%;
}

.product-name {
  font-weight: bold;
}

.product-cover {
  color: #adb5bd;
}

.primary-color {
  color: #e74800;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.product-option {
  display: flex;
  gap: 0.5rem;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
