.my-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: var(--lightAccent);
  background-color: var(--primary);
  width: 100%;
}

.my-button:hover {
  background-color: var(--lightAccent);
  color: var(--primary);
  outline: 0.2rem solid var(--primary);
}

.hide {
  display: none;
}
