@import url('src/theme/theme.css');

.my-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: #eeeed0;
  background-color: #e74800;
}

.my-button:hover {
  background-color: #eeeed0;
  color: #e74800;
  outline: 0.2rem solid #e74800;
}
