@import url('src/theme/theme.css');

button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: #eeeed0;
  background-color: #e74800;
}
