.group {
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  width: 80%;
  line-height: 3rem;
  padding: 0 3rem;
  border: none;
  border-bottom: 2px solid var(--secondary);
  background-color: var(--lightAccent);
  color: var(--secondary);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input::placeholder {
  color: var(--gray);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
}

.input-img {
  position: absolute;
  top: 20%;
  width: 1.5rem;
  color: var(--secondary);
}

.group small {
  position: absolute;
  bottom: -45%;
  font-size: 1rem;
  text-align: left;
  color: var(--error);
}

.input.error {
  border-bottom: 2px solid var(--error);
}

.input.success {
  border-bottom: 2px solid var(--valid);
}

.hide {
  display: none;
}
