.popular-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.popular-header a {
  font-size: 1.4rem;
}

.popular-items {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-bottom: 6rem;
}
